In [1827]:
"""
Скрипт для создания отчета по форме БРИТ
"""

'\nСкрипт для создания отчета по форме БРИТ\n'

In [1828]:
import pandas as pd

In [1829]:
def count_value(group:pd.Series,target_value:str):
    """
    Функция для группировки по конкретному значению
    Возвращает количество значений target_value в группе
    """
    # считаем сколько значений подходят по условие
    count_group = group.str.contains(target_value)
    return sum(count_group)

In [1830]:
check_cols = {'Статус_учёба','Статус_Сиротство','Статус_Уровень_здоровья'} # проверяемые колонки
dct_name_sheet = dict() # словарь где ключ это названия листа а значение датафрейм на основе которого был произведен подсчет

In [1831]:
df = pd.read_excel('data/Общий файл.xlsx',dtype=str)
df.fillna('Нет статуса',inplace=True) # заполняем Наны
group_main_df = pd.DataFrame(index=list(df['Файл'].unique()))
group_main_df.index.name = 'Файл'

C:\Users\1\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [1832]:
# Отбрасываем на всякий случай отчисленных
df = df[df['Статус_учёба']!= 'Отчислен']

In [1833]:
# Создаем датафрейм с сиротами
orphans_df = df[df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении',
                                                     'дети-сироты, находящиеся под опекой'])]

dct_name_sheet['Сироты'] = orphans_df # добавляем в словарь
orphans_group_df = orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'}) # создаем базовый 
group_main_df = group_main_df.join(orphans_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Сиротство':'Дети-сироты'},inplace=True)

In [1834]:
group_main_df

                             Дети-сироты
Файл
Железнодорожного транспорта            9
Энергоснабжения                       13
Металлообработки                      29
Хоринский филиал                       3

In [1835]:
# Создаем датафрейм с сиротами
invalid_df = df[df['Статус_Уровень_здоровья'].isin(['Инвалид детства','Инвалид 1,2,3, группы'])]

dct_name_sheet['Инвалиды'] = invalid_df # добавляем в словарь
invalid_group_df = invalid_df.groupby(by=['Файл']).agg({'Статус_Уровень_здоровья':'count'}) # создаем базовый 
group_main_df = group_main_df.join(invalid_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Уровень_здоровья':'Инвалиды'},inplace=True)

In [1836]:
group_main_df

                             Дети-сироты  Инвалиды
Файл
Железнодорожного транспорта            9        10
Энергоснабжения                       13        10
Металлообработки                      29        22
Хоринский филиал                       3         3

In [1837]:
# Создаем датафрейм с получателями социальной стипендии
print(df.shape)
soc_benefit_df = df[df['Статус_соц_стипендия'].isin(['да'])]
print(soc_benefit_df.shape)
dct_name_sheet['Соц. стипендия Все'] = soc_benefit_df # добавляем в словарь

(252, 53)
(30, 53)

In [1838]:
# получаем малоимущих
poor_soc_benefit_df = soc_benefit_df[soc_benefit_df['Статус_Соц_положение_семьи'].isin(['Малоимущая'])]
dct_name_sheet['Соц. стипендия малоим.'] = poor_soc_benefit_df
poor_soc_benefit_group_df = poor_soc_benefit_df.groupby(by=['Файл']).agg({'Статус_Соц_положение_семьи':'count'})
group_main_df = group_main_df.join(poor_soc_benefit_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Соц_положение_семьи':'Соц. стипендия малоимущие'},inplace=True)

In [1839]:
# получаем детей сирот
orphans_soc_benefit_df = soc_benefit_df[soc_benefit_df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении',
                                                     'дети-сироты, находящиеся под опекой'])]
dct_name_sheet['Соц. стипендия сироты'] = orphans_soc_benefit_df
orphans_soc_benefit_group_df = orphans_soc_benefit_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_main_df = group_main_df.join(orphans_soc_benefit_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Сиротство':'Соц. стипендия дети-сироты'},inplace=True)

In [1840]:
# получаем инвалидов
invalid_soc_benefit_df = soc_benefit_df[soc_benefit_df['Статус_Уровень_здоровья'].isin(['Инвалид детства','Инвалид 1,2,3, группы'])]
dct_name_sheet['Соц. стипендия инвалиды'] = invalid_soc_benefit_df
invalid_soc_benefit_group_df = invalid_soc_benefit_df.groupby(by=['Файл']).agg({'Статус_Уровень_здоровья':'count'})
group_main_df = group_main_df.join(invalid_soc_benefit_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Уровень_здоровья':'Соц. стипендия инвалиды'},inplace=True)

In [1841]:
# Создаем датафрейм с получателями бесплатного питания
print(df.shape)
eating_df = df[df['Статус_питание'].isin(['получает компенсацию за питание','питается в БРИТ'])]
print(eating_df.shape)
dct_name_sheet['Соц. стипендия Все'] = eating_df # добавляем в словарь

(252, 53)
(60, 53)

In [1842]:
# получаем малоимущих
poor_eating_df = eating_df[eating_df['Статус_Соц_положение_семьи'].isin(['Малоимущая'])]
dct_name_sheet['Питание малоим.'] = poor_eating_df
poor_eating_group_df = poor_eating_df.groupby(by=['Файл']).agg({'Статус_Соц_положение_семьи':'count'})
group_main_df = group_main_df.join(poor_eating_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Соц_положение_семьи':'Питание малоимущие'},inplace=True)

In [1843]:
# получаем сирот
orphans_eating_df = eating_df[eating_df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении',
                                                     'дети-сироты, находящиеся под опекой'])]
dct_name_sheet['Питание сироты'] = orphans_eating_df
orphans_eating_group_df = orphans_eating_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_main_df = group_main_df.join(orphans_eating_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Сиротство':'Питание сироты'},inplace=True)

In [1844]:
# получаем инвалидов
invalid_eating_df = eating_df[eating_df['Статус_Уровень_здоровья'].isin(['Инвалид детства','Инвалид 1,2,3, группы'])]
dct_name_sheet['Питание инвалиды'] = invalid_eating_df
invalid_eating_group_df = invalid_eating_df.groupby(by=['Файл']).agg({'Статус_Уровень_здоровья':'count'})
group_main_df = group_main_df.join(invalid_eating_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Уровень_здоровья':'Питание инвалиды'},inplace=True)

In [1845]:
# получаем СВО
svo_eating_df = eating_df[eating_df['Статус_родитель_СВО'].isin(['да'])]
dct_name_sheet['Питание СВО'] = svo_eating_df
svo_eating_group_df = svo_eating_df.groupby(by=['Файл']).agg({'Статус_родитель_СВО':'count'})
group_main_df = group_main_df.join(svo_eating_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_родитель_СВО':'Питание СВО'},inplace=True)

In [1846]:
# Создаем датафрейм с проживающими в общежитии
print(df.shape)
dormitory_df = df[df['Статус_общежитие'].isin(['да'])]
print(dormitory_df.shape)
dct_name_sheet['Общежитие все'] = dormitory_df # добавляем в словарь
dormitory_group_df = dormitory_df.groupby(by=['Файл']).agg({'Статус_общежитие':'count'})
group_main_df = group_main_df.join(dormitory_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_общежитие':'Общежитие Всего'},inplace=True)

(252, 53)
(71, 53)

In [1847]:
# получаем не сирот и сохраняем для списка
not_orphans_dormitory_df = dormitory_df[~dormitory_df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении',
                                                     'дети-сироты, находящиеся под опекой'])]
dct_name_sheet['Общежитие кроме сирот'] = not_orphans_dormitory_df

In [1848]:
# получаем сирот
# получаем сирот
orphans_dormitory_df = dormitory_df[dormitory_df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении',
                                                     'дети-сироты, находящиеся под опекой'])]
dct_name_sheet['Питание сироты'] = orphans_dormitory_df
orphans_dormitory_group_df = orphans_dormitory_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_main_df = group_main_df.join(orphans_dormitory_group_df) # добавляем в свод
group_main_df.rename(columns={'Статус_Сиротство':'Общежитие сироты'},inplace=True)

In [1849]:
group_main_df

,Дети-сироты,Инвалиды,Соц. стипендия малоимущие,Соц. стипендия дети-сироты,Соц. стипендия инвалиды,Питание малоимущие,Питание сироты,Питание инвалиды,Питание СВО,Общежитие Всего,Общежитие сироты
Файл,,,,,,,,,,,
Железнодорожного транспорта,9,10,1.0,3,1.0,1.0,3,3,2,12,5
Энергоснабжения,13,10,NaN,4,NaN,NaN,4,3,3,17,7
Металлообработки,29,22,NaN,8,NaN,NaN,8,7,7,37,15
Хоринский филиал,3,3,NaN,1,1.0,2.0,1,1,2,5,2

In [1850]:
group_main_df.fillna(0,inplace=True) # заполняем наны
group_main_df=group_main_df.astype(int) # приводим к инту
sum_row = group_main_df.sum(axis=0) # суммируем колонки
group_main_df.loc['Итого'] = sum_row # добавляем суммирующую колонку

In [1851]:
group_main_df

,Дети-сироты,Инвалиды,Соц. стипендия малоимущие,Соц. стипендия дети-сироты,Соц. стипендия инвалиды,Питание малоимущие,Питание сироты,Питание инвалиды,Питание СВО,Общежитие Всего,Общежитие сироты
Файл,,,,,,,,,,,
Железнодорожного транспорта,9,10,1,3,1,1,3,3,2,12,5
Энергоснабжения,13,10,0,4,0,0,4,3,3,17,7
Металлообработки,29,22,0,8,0,0,8,7,7,37,15
Хоринский филиал,3,3,0,1,1,2,1,1,2,5,2
Итого,54,45,1,16,2,3,16,14,14,71,29

In [1852]:
group_orphans_main_df = pd.DataFrame(index=list(df['Файл'].unique())) # Базовый датафрейм для сирот

In [1853]:
# Считаем общее количество
all_orphans_group_df = orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'}) # создаем базовый 
group_orphans_main_df = group_orphans_main_df.join(all_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Всего'},inplace=True)

In [1854]:
# считаем академ
akadem_orphans_df = orphans_df[orphans_df['Статус_учёба'].str.contains('Академический отпуск')]
dct_name_sheet['Сироты академ'] = akadem_orphans_df
akadem_orphans_group_df = akadem_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(akadem_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Из них в академическом отпуске'},inplace=True)

In [1855]:
# считаем постинтернатное сопровождение
postinternat_orphans_df = orphans_df[orphans_df['Статус_Сиротство'].str.contains('постинтернатное сопровождение')]
dct_name_sheet['Сироты постинтернат'] = postinternat_orphans_df
postinternat_orphans_group_df = postinternat_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(postinternat_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Из них постинтернат'},inplace=True)

In [1856]:
# считаем сирот на гособеспечении
print(orphans_df.shape)
gos_orphans_df = orphans_df[orphans_df['Статус_Сиротство'].isin(['гособеспечение + постинтернатное сопровождение','дети-сироты, находящиеся на полном государственном обеспечении'
                                                     ])]
print(gos_orphans_df.shape)
dct_name_sheet['Сироты гособеспечение'] = gos_orphans_df
gos_orphans_group_df = gos_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(gos_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Из них на гособеспечении'},inplace=True)

(54, 53)
(41, 53)

In [1857]:
# считаем сирот с опекой
print(orphans_df.shape)
custody_orphans_df = orphans_df[orphans_df['Статус_Сиротство'].isin(['дети-сироты, находящиеся под опекой'])]
print(custody_orphans_df.shape)
dct_name_sheet['Сироты опека'] = custody_orphans_df
custody_orphans_group_df = custody_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(custody_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Из них под опекой'},inplace=True)

(54, 53)
(13, 53)

In [1858]:
# считаем сирот получающих питание
print(orphans_df.shape)
all_eating_orphans_df = orphans_df[orphans_df['Статус_питание'].isin(['питается в БРИТ','получает компенсацию за питание',
                                                                     'получает компенсацию за питание + питается в БРИТ'])]
print(all_eating_orphans_df.shape)
dct_name_sheet['Сироты питание все'] = all_eating_orphans_df
all_eating_orphans_group_df = all_eating_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(all_eating_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Питается всего'},inplace=True)

(54, 53)
(17, 53)

In [1859]:
# считаем сирот получающих питание в брит
print(orphans_df.shape)
brit_eating_orphans_df = orphans_df[orphans_df['Статус_питание'].isin(['питается в БРИТ'])]
print(brit_eating_orphans_df.shape)
dct_name_sheet['Сироты питание БРИТ'] = brit_eating_orphans_df
brit_eating_orphans_group_df = brit_eating_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(brit_eating_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Питается в БРИТ'},inplace=True)

(54, 53)
(1, 53)

In [1860]:
# считаем сирот получающих компенсацию
print(orphans_df.shape)
compens_eating_orphans_df = orphans_df[orphans_df['Статус_питание'].isin(['получает компенсацию за питание'])]
print(compens_eating_orphans_df.shape)
dct_name_sheet['Сироты питание компенсация'] = compens_eating_orphans_df
compens_eating_orphans_group_df = compens_eating_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(compens_eating_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'Получает компенсацию'},inplace=True)

(54, 53)
(15, 53)

In [1861]:
# считаем сирот получающих компенсацию + питание в брит
print(orphans_df.shape)
brit_compens_eating_orphans_df = orphans_df[orphans_df['Статус_питание'].isin(['получает компенсацию за питание + питается в БРИТ'])]
print(brit_compens_eating_orphans_df.shape)
dct_name_sheet['Сироты питание БРИТ+компенсация'] = brit_compens_eating_orphans_df
brit_compens_eating_orphans_group_df = brit_compens_eating_orphans_df.groupby(by=['Файл']).agg({'Статус_Сиротство':'count'})
group_orphans_main_df = group_orphans_main_df.join(brit_compens_eating_orphans_group_df) # добавляем в свод
group_orphans_main_df.rename(columns={'Статус_Сиротство':'БРИТ+компенсация'},inplace=True)

(54, 53)
(1, 53)

In [1862]:
group_orphans_main_df

,Всего,Из них в академическом отпуске,Из них постинтернат,Из них на гособеспечении,Из них под опекой,Питается всего,Питается в БРИТ,Получает компенсацию,БРИТ+компенсация
Железнодорожного транспорта,9,2,4,7,2,3,NaN,3.0,NaN
Энергоснабжения,13,3,6,10,3,4,NaN,4.0,NaN
Металлообработки,29,7,14,22,7,8,NaN,8.0,NaN
Хоринский филиал,3,2,2,2,1,2,1.0,NaN,1.0

In [1863]:
# отчет по учетам

In [1864]:
group_accounting_main_df = pd.DataFrame(index=list(df['Файл'].unique())) # Базовый датафрейм для учетов

In [1865]:
# Считаем КДН
print(df.shape)
kdn_accounting_df = df[df['Статус_КДН'].isin(['состоит'])]
print(kdn_accounting_df.shape)
dct_name_sheet['КДН'] = kdn_accounting_df
kdn_group_accounting_df = kdn_accounting_df.groupby(by=['Файл']).agg({'Статус_КДН':'count'})
group_accounting_main_df = group_accounting_main_df.join(kdn_group_accounting_df) # добавляем в свод

(252, 53)
(13, 53)

In [1866]:
# Считаем ПДН
print(df.shape)
pdn_accounting_df = df[df['Статус_ПДН'].isin(['состоит'])]
print(pdn_accounting_df.shape)
dct_name_sheet['ПДН'] = pdn_accounting_df
pdn_group_accounting_df = pdn_accounting_df.groupby(by=['Файл']).agg({'Статус_ПДН':'count'})
group_accounting_main_df = group_accounting_main_df.join(pdn_group_accounting_df) # добавляем в свод

(252, 53)
(42, 53)

In [1867]:
# Слаживаем колонки и удаляем лишнее
group_accounting_main_df.fillna(0,inplace=True)
group_accounting_main_df['Учет КДН, ПДН'] = group_accounting_main_df['Статус_КДН'] + group_accounting_main_df['Статус_ПДН']
group_accounting_main_df.drop(columns=['Статус_КДН','Статус_ПДН'],inplace=True)

In [1868]:
# Считаем внутренний учет
print(df.shape)
inside_accounting_df = df[df['Статус_внутр_учет'].isin(['состоит'])]
print(inside_accounting_df.shape)
dct_name_sheet['Внутр_учет'] = inside_accounting_df
inside_group_accounting_df = inside_accounting_df.groupby(by=['Файл']).agg({'Статус_внутр_учет':'count'})
group_accounting_main_df = group_accounting_main_df.join(inside_group_accounting_df) # добавляем в свод
group_accounting_main_df.rename(columns={'Статус_внутр_учет':'Внутренний учет'},inplace=True)

(252, 53)
(52, 53)

In [1869]:
# Считаем самовольный уход
print(df.shape)
awol_accounting_df = df[df['Статус_самовольный_уход'].isin(['да'])]
print(awol_accounting_df.shape)
dct_name_sheet['Самовольный уход'] = awol_accounting_df
awol_group_accounting_df = awol_accounting_df.groupby(by=['Файл']).agg({'Статус_самовольный_уход':'count'})
group_accounting_main_df = group_accounting_main_df.join(awol_group_accounting_df) # добавляем в свод
group_accounting_main_df.rename(columns={'Статус_самовольный_уход':'Самовольный уход'},inplace=True)

(252, 53)
(16, 53)

In [1870]:
# Считаем самовольный уход
print(df.shape)
sop_accounting_df = df[df['Статус_Соц_положение_семьи'].isin(['СОП'])]
print(sop_accounting_df.shape)
dct_name_sheet['СОП'] = sop_accounting_df
sop_group_accounting_df = sop_accounting_df.groupby(by=['Файл']).agg({'Статус_Соц_положение_семьи':'count'})
group_accounting_main_df = group_accounting_main_df.join(sop_group_accounting_df) # добавляем в свод
group_accounting_main_df.rename(columns={'Статус_Соц_положение_семьи':'СОП'},inplace=True)

(252, 53)
(29, 53)

In [1871]:
group_accounting_main_df

,"Учет КДН, ПДН",Внутренний учет,Самовольный уход,СОП
Железнодорожного транспорта,9,8,3,5
Энергоснабжения,13,12,4,6
Металлообработки,29,28,8,15
Хоринский филиал,4,4,1,3